*{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-style: Regular 400;
        font-family: 'Roboto', sans-serif;
        
}
.container-fiuld #header-social-icon{
        height: 40px;
        background-color: red;
}
.container-fiuld header{
        overflow: hidden;
}

.container-fiuld #header-social-icon .col-xl-9 h4{
display: inline-block;
font-size: 16px;
padding: 10px 10px;
color: white;
}
.container-fiuld #header-social-icon .col-xl-9 .span{
        font-size: 16px;
        padding: 10px 10px;
        color: white;
}
.container-fiuld #header-social-icon .col-xl-3 a  {
        text-decoration: none;
}
.container-fiuld #header-social-icon .col-xl-3 a i{
margin: 5px;
font-size: 22px;
 color: white;
}
.container-fiuld #header-social-icon .right{
        float: right;
        position: absolute;
        right: 0px;
}
.container-fiuld header .logo-block {
        height: 100px;
        margin: 10px 60px;
}
.container-fiuld header .logo-block #nav  #close{
  display: none;
}
.container-fiuld header .logo-block {
        padding: 20px;
}
.container-fiuld header .logo-block #nav .block{
        float: right;
        
}
.container-fiuld header .logo-block h1 {
        color: brown;
        font-size: 40px;
        font-weight: bold;
}
.container-fiuld  header #menu {
        display: none;
}
.container-fiuld header .logo-block #nav .block ul li {
        display: inline-block;
        margin: -14px 18px;
}
.container-fiuld header .logo-block #nav .block ul li  a{
        text-decoration: none;
}

.container-fiuld header .logo-block #nav .block ul li  a .link {
        display: block;
        color:black;
        font-size: 16px;
}
.container-fiuld header .logo-block #nav .block ul li:hover {
        transform: scale(1.2);
}
.container-fiuld header .background-img{
        height: 320px;
    
        background: url("/img/flat-lay-burger-fries-plate-with-copyspace\ \(2\).png");
        background-repeat: no-repeat;
        background-size: cover;

}
.container-fiuld header .background-img .contain{
        padding: 100px 90px;
        color: white;
        font-size: 22px;
        
}

.section {
        text-align: center;
        margin: 40px 20px;
      padding:0px 100px; ;
       
        
}
.section h1 {
        color: brown;
        font-weight: bolder;
        margin: 10px 0px;
}
.section p {
       width: 80%;
        font-weight: bolder;
padding-left: 180px;
      
        
        
        
}
.container .offer{
        margin-top: 20px;
           padding: 40px;
       
}
.container .row .col-xl-4 {
        box-shadow: 0px 0px 20px  10px rgba(0, 0, 0, 0.1);
     
        width: 362px;
        height: 576px;
        margin: 0px 10px;
        border-radius: 15px;
}
.container .offer .col-xl-4 #first-block-color{
        background: red;
        width: 360px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
        height: 12px;
        margin:0px -10px;
        padding: 0px;
}
.container .offer .col-xl-4 .block-contain{
        margin-top: 10px;
        text-align: center;
        padding: 15px 0px;
}
.container .offer .col-xl-4 .block-contain span {
        display: block;
        margin-top: 10px;
}
.container .offer .col-xl-4 .block-contain h4 {
        margin: 20px 0px;
        color: black;
        font-weight: bolder;
        font-size: 32px;
}
.container .offer .col-xl-4 .block-contain h5 {
        margin: 14px 0px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
}
.container .offer .col-xl-4 .block-contain #red {
        margin-top: 50px;
        padding: 2px 20px;
        background: red;
        border-radius: 15px;
        color: white;
        border: 0px;   
}
.container .offer .col-xl-4 .block-contain .price {
        font-size: 35px;
        font-weight: bolder;
}
.container .offer .col-xl-4 .block-contain #green {
        margin-top: 50px;
        padding: 2px 20px;
        background: green;
        border-radius: 15px;
        color: white;
        border: 0px;   
}
.container .offer .col-xl-4 .block-contain #yellow {
        margin-top: 50px;
        padding: 2px 20px;
        background: rgb(251, 161, 83);
        border-radius: 15px;
        color: white;
        border: 0px;   
}
.container .offer .col-xl-4 #second-block-color{
        background: rgb(251, 161, 83);
        width: 360px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
        height: 12px;
        margin:0px -10px;
        padding: 0px;
}
.container .offer .col-xl-4 #last-block-color{
        background: green;
        width: 360px;
        transition: all 0.25s ease-in-out;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
        height: 12px;
        margin:0px -10px;
        padding: 0px;
}


.asked-block{
        overflow: hidden;
        margin-top: 60px;
        height: 725px;        
        background: rgb(239, 239, 239);
}
.asked-block .question-block{
padding: 80px 300px;
text-align: center;
}
.asked-block .question-block h2{
        color:brown;
        font-weight: bolder;
font-size: 36px;
        margin: 20px 0px;
}
.asked-block .question-block  .silde {
        display: none;
        z-index: 4;
}
.asked-block .question-block  .silde-block {
        display: block;
        height: auto;
        z-index: 4;
        margin-top: -20px;
        padding: 20px;
        background: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
}
.asked-block .question-block .col-xl-12 {
        margin: 16px 0px;
        background: white;
        border-radius: 15px;
        height: 65px;
        padding: 14px 10px;
}
.asked-block .question-block .col-xl-12 img {
        float:right;
        margin-top: 10px;
    
}

.asked-block .question-block .col-xl-12 h4 {
        float: left;
        font-size: 22px;
}

footer {
        height: 500px;
        background: url("/img/footer-back.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        padding: 100px;
}
footer .col-xl-3 form input[type='button']{
        display: block;
        margin-top: 20px;
        padding: 10px 20px;
        background: red;
        border: 0px;
        color: white;
}
footer .col-xl-3 form input[type='button']:hover {
        box-shadow: 0px 0px 20px 10px silver;
        background: orange;
}


@media screen and (max-width:570px) {
.container-fiuld header .logo-block h1{
        font-size: 34px;
        float: left;

}
.container-fiuld header .logo-block{
        margin: 20px 6px;
        padding: 0px;

}
.container-fiuld header .logo-block #nav .block  {
        float: right;
        background: rgb(123, 16, 16);
        height: 100vh;
        z-index: 2;
        display: none;
        transition: all 0.65s ease-in-out;
        margin: 0px 20px;
        position: absolute;
        top: 0px;
        right: -300px;
        width: 100vw;
}

.container-fiuld header .logo-block #nav .show {
        position: absolute;
        right: -20px;
        z-index: 2;
        display: block;
}
.container-fiuld header .logo-block #nav .block  ul {
        margin-top: 60px;

        text-align: center;
}
.container-fiuld header .logo-block #nav .block  ul li {
        display: block;      
        margin: 20px 10px;
        list-style-type: none;
       
}
.container-fiuld header .logo-block #nav  #close{
        margin: 10px 20px;
        color: white;
        font-size: 22px;
        display:block ;
}
.container-fiuld header .logo-block #nav .block  ul li a{
        text-decoration: none;
}
.container-fiuld header .logo-block #nav .block  ul li a .link{
        margin: 10px 0px;
        text-transform: uppercase;
       display: inline-block;
        color: white;
        font-size: 19px;
        
}
.container-fiuld header .logo-block #nav .block   ul li a img {
        width: 30px;
        /* display: block; */
        height: 30px;
        margin: 0px 10px;
}
.container-fiuld #header-social-icon .col-xl-9{
        display: none;
}
.container-fiuld header #menu {
        display: block;
}   
.container-fiuld header  .background-img {
        height: 100vh;   
                background-position: center;
        
}
.container-fiuld header  .background-img .contain {
        
        padding: 160px 20px;
}
.container-fiuld header  .background-img .contain h2 {
        font-size: 4.0rem;
        letter-spacing: 2px;
}
.container-fiuld header  .background-img .contain  span {
        font-size: 1.6rem;
        
        margin-left: 22px;
}
.section p{
        width: 100%;
        padding: 0px;
        
}
.section{
        padding: 0px;
}
.section h1 {
        font-size: 38px;
}


.container .offer{
 padding: 0px 25px;
}
.container .row .col-12{
            width: 90vw;
            margin: 20px 0px;
}
.asked-block{
        width: 100vw;
        overflow: auto;
}
.asked-block .question-block{
        padding: 0px 0px;
}
.asked-block .question-block .col-12{
        width: 100vw;
        padding: 0px auto;
        margin: 10px ;
        height: auto;
}
footer {
         
         height: auto;
         overflow: hidden;
        padding: 10px auto;
        
        }
footer .col-12{
        margin: 17px 0px;
}

}



@media screen and (min-width:768px) and (max-width:990px) {
.container-fiuld header  .background-img {
                        background-position: center;
                
        }        
 .container-fiuld .logo-block{
                padding: 20px;
        }
 .container .offer{
                padding: 0px 120px;
        }
.container .offer .col-xl-4{
                padding: 0px 10px;
                margin: 30px;
                width: 560px;
        }

 .section p {
                padding: 10px 10px;
                width: 100%;
        }
 .container .offer .col-xl-4 #first-block-color,   .container .offer .col-xl-4 #second-block-color,   .container .offer .col-xl-4 #last-block-color {
                  width: 475px;
        }

.asked-block .question-block .col-xl-12 {
        margin: 16px 0px;
        background: white;
        border-radius: 15px;
        height: auto;
        padding: 14px 10px;
}
footer {
        height: auto;
}
footer .col-xl-3{
        margin: 20px 0px;
}
}





@media screen and (min-width:580px) and (max-width:767px) {
.container-fiuld .logo-block{
        padding: 10px;
        }       
.container-fiuld .logo-block .col-sm-4 h1 {
        font-size: 34px;
        }
.container-fiuld header  .background-img {
        background-position: center;
        
}        
.section p {
        padding: 10px 20px;
        width: 100%;
        font-size: 18px;
}

.asked-block .question-block .col-xl-12 {
        width: 100vw;
        height: auto;
        
}
.container .offer .col-xl-4 {
        margin: 30px;
}
.asked-block .question-block{
        padding: 80px 30px;
        text-align: center;
}
footer {
        height: auto;
}
footer .col-xl-3{
        margin: 20px 0px;
}
}
